*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.section-1{
  height: calc(100vh - 96px);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/ba1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-3 img{
  width: 100%;
  height: 100%;
}

footer{
  min-height: 96px;
  background-image: linear-gradient(to right, #1c3643, #1e5371);
}

.dot_underline{
  text-decoration: underline #000 dotted;
}

.btn-green-1{
  color: white;
  background-color: #29A744;
  border-color: #29A744;
}

.btn-green-1:hover{
  color: white;
  background-color: #3ef065;
  border-color: #3ef065;
}

.btn-green-2{
  color: white;
  background-color: #96C93E;
  border-color: #96C93E;
}

.btn-green-2:hover{
  color: white;
  background-color: #bbf851;
  border-color: #bbf851;
}

.ticket_form_buttons{
  display: flex;
  justify-content: space-between;
}

.ticket_form_buttons button{
  width: 49%;
}

.b-rad-0{
  border-radius: 0;
}

.container-full-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 1;
}